@font-face {
    font-family: JetBrainsMono;
    src: url(fonts/JetBrainsMono-VariableFont_wght.ttf);
}

a{
    text-decoration: none;
}

html{
    font-family: JetBrainsMono, Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    margin: 0px;
}

.navbar{
    height: 50px;
    width: 100%;
    background-color: #1A1A1A;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.466);
}

button{
    border: 0;
}

.navtab{
    height: 50px;
    line-height: 50px;
    background-color: #1A1A1A;
    text-align: center;
    color: white;
    font-size: 24px;
    width: 100%;
    outline: none;

    text-transform: uppercase;
}

.activetab{
    height: 50px;
    line-height: 50px;
    background-color: white;
    text-align: center;
    color: #1A1A1A;
    font-size: 24px;
    width: 100%;
    outline: none;

    text-transform: uppercase;
}

.navtab:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

.backgroundcontainer{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

/* Save for later */
.backgroundanimation{
    display: block;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    background-image: url('../../media/background-video.png');
}

.backgroundcontainer video{
    min-height: 100%; 
    min-width: 100%;
}

#pagecontent{
    height: calc(100vh - 100px); 
    width: calc(100vw - 50px); 
    padding: 25px;
    display: block;
}

/* Home Page */

.aboutbody{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    flex-direction: column;
    
}

.aboutcard{
    background-color: #1A1A1A;
    color: white;
    display: flex;
    border-radius: 10px;
    padding: 10px;
    height: 50%;
    width: 60%;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);
}

.bubbleflex{
    height: 40%;
    width: 60%;
    display: flex;
}

.linkbubble{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 75px;
    width: 75px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);
}

.bubbleart{
    height: 75%;
    width: 75%;
}

#github{
    background-color: #1A1A1A;
}

#github:hover{
    cursor: pointer;
    background-color: #1f1f1f;
}

#linkedin{
    background-color: #004182;
}

#linkedin:hover{
    cursor: pointer;
    background-color: #044b92;
}

#bodypic{
    max-width: 50%; 
    max-height: 100%; 
    border-radius: 5px;
    float: left;
    aspect-ratio: 1;
}

.textflex{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.abouttext{
    margin: 10px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

/* Project Page */

.projectbody{
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

.projectcard{
    background-color: #1A1A1A;
    display: block;
    border-radius: 10px;
    min-width: 350px;
    width: 18%;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);
}

.projectcard:hover{
    background-color: #1f1f1f;
    cursor: pointer;
}

.artspot{
    width: 100%;
    height: 200px;
    background-color: black;
    display: grid;
    overflow: hidden;
}

.projectart{
    width: 100%;
    height: 100%;
    display: block;

    grid-area: 1 / 1;
}

.platformicon{
    width: 25px;
    height: 25px;
    display: block;

    margin: 10px;

    grid-area: 1 / 1;

    z-index: 2;
}

.projectcardtext{
    padding: 10px;
    width: calc(100% - 20px);
    height: calc(75% - 20px);
    display: flex;
    flex-direction: column;
}

#title{
    font-size: 24px;
    color: white;

    text-transform: uppercase;
}

#genre{
    font-size: 16px;
    color: rgb(172, 172, 172);

    text-transform: capitalize;

    margin-bottom: 10px;
}

#description{
    padding: 10px;
    font-size: 16px;
    color: white;
}